@charset "UTF-8";

body, h1, h2, h3, h4, h5, h6, p, ul, li { margin: 0; padding: 0;}
html, body { width: 100%; height: 100%; }

a  { text-decoration: none; }
ul { list-style: none; }

.fl { float: left;}
.fr { float: right;}
.clearFloat { zoom: 1; }
.clearFloat:after { content: ''; display: block; height: 0; visibility: hidden; clear: both; }

.flex-center { display: flex; display: -webkit-flex; justify-content: center; align-items: center; }








